.mynd{
	width: 80%;
	margin: auto;
	display: grid;   
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
	justify-items:center;
}
.mynd2{
    width: 10%;
    margin: auto;
	display: grid;   
	grid-template-columns: 1fr 1fr; 
	justify-items:center;
}
img{
    padding: 15px;
    width: auto;
}
td, th {
    border: 1px solid #dddddd;
    border-radius: 10px;
    text-align: left;
    padding: 5px;
    display: table-cell;
    vertical-align: inherit;
}
.texti{
    text-align: center;
}
.tafla{
    font-family: ariel;
    font-size: 16pt;
    width: 80%;
    border-radius: 10px;
    margin: auto;
    text-align: center;
}
.company{
    border-collapse: collapse;
    font-size: 14pt;
    border-radius: 10px;
    margin: auto;
}
.moreinfo{
    border-collapse: collapse;
    border-radius: 10px;
    margin: auto;
}
h1{
    text-align: center;
	font-family: ariel;
    font-size: 32pt;
}
h2{
    font-family: ariel;
    font-size: 20pt;
    padding: 10px;
}
h3{
    font-family: ariel;
    font-weight: normal;
    font-size: 15pt;
    padding: 5px;
}
p{
    text-align: center;
}
